header{
    display:contents;
    justify-content:space-between;
    align-content:space-between;
}


ul{
    background-color: rgb(18, 235, 65);
    border-radius: 5px;
    color: rgb(226, 23, 233);
    font-family: cursive;
    align-items: center;
    
}
li{
    PADDING-RIGHT: 50px;
PADDING-LEFT: 550px;
FLOAT: FLOAT;


}

   