

ul{
    list-style-type: square;
}
ol{
    list-style: decimal;
}

h1 {
    background-color: blueviolet;
}
div {
    display: inline-block;
    background-color: rgb(18, 240, 166);
    width: 300px;
}
a {
    display: inline-block;
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    border: 1px solid red;
}
span{
    background-color: blue;
    font-family: cursive;
    font-weight: 700;
    border: 1px dashed blue ;
}
